@font-face {
    font-family: inter;
    font-style: normal;
    font-weight: 10;
    font-display: swap;
    src: url("Inter-Thin.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
    font-family: inter;
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url("Inter-ExtraLight.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
    font-family: inter;
    font-style: normal;
    font-weight: 300;
    src: url("Inter-Light.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
    font-family: inter;
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("Inter-Medium.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
    font-family: inter;
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("Inter-SemiBold.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
    font-family: inter;
    font-style: normal;
    font-weight: 750;
    font-display: swap;
    src: url("Inter-ExtraBold.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
    font-family: inter;
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url("Inter-ExtraBold.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
    font-family: inter;
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url("Inter-Black.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
    font-family: inter;
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url("Inter-Bold.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
    font-family: inter;
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url("Inter-Regular.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
