<app-page-header></app-page-header>

<ion-content [fullscreen]="true">
  <ion-row>
    <!-- <ion-col size="11" size-md="4" class="mx-auto px-1 py-3">
      <ion-text class="ion-text-center">
        <p class="text-bold my-4">Your order is in progress...</p>
      </ion-text>
      <div *ngIf="orderInfo">
        <ion-list lines="none" *ngFor="let item of orderInfo.Items">
          <ion-item [disabled]="item.ItemStatus===itemStatus.Draft">
            <div class="d-flex column-gap">
              <div class="d-flex">
                <span
                  *ngIf="item.ItemStatus===itemStatus.Draft"
                  class="dot-spinner"
                ></span>
                <ion-icon
                  *ngIf="item.ItemStatus===itemStatus.NotFound"
                  name="alert-circle"
                  color="danger"
                  class="text-large"
                ></ion-icon>
                <ion-icon
                  *ngIf="item.ItemStatus===itemStatus.Found"
                  name="checkmark-circle"
                  color="primary"
                  class="text-large"
                ></ion-icon>
              </div>
              <div class="d-flex flex-column">
                <ion-text
                  *ngIf="item.ItemStatus===itemStatus.Found"
                  class="text-bold"
                >
                  {{item.Title}} {{item.Unit ? '/ '+ item.Unit : ''}}
                  {{item.Brand ? '/ '+ item.Brand : ''}}
                </ion-text>
                <ion-text
                  *ngIf="item.ItemStatus===itemStatus.NotFound"
                  class="text-bold"
                >
                  {{item.Title}} {{item.Unit ? '/ '+ item.Unit : ''}}
                </ion-text>
                <ion-text
                  *ngIf="item.ItemStatus===itemStatus.Draft"
                  class="text-bold"
                >
                  {{item.Title}}
                </ion-text>
                <ion-text
                  *ngIf="item.ItemStatus===itemStatus.Found"
                  class="text-wrap"
                >
                  <p>{{item.Description}}</p>
                </ion-text>
                <ion-text *ngIf="item.ItemStatus===itemStatus.NotFound">
                  Not Found
                </ion-text>
                <ion-list
                  lines="none"
                  *ngIf="item.ItemStatus===itemStatus.NotFound && item.Products"
                >
                  <ion-text class="text-bold"
                    ><p>New Suggestion(s):</p></ion-text
                  >
                  <ion-item *ngFor="let product of item.Products">
                    <div class="d-flex column-gap my-2">
                      <input
                        [(ngModel)]="product.Quantity"
                        type="checkbox"
                        class="ion-align-self-start mx-2"
                        (click)="updateOrderProduct(product)"
                      />
                      <div class="d-flex flex-column">
                        <ion-text class="text-bold"
                          >{{product.Title}} {{product.Unit ? '/ '+ product.Unit
                          : ''}} {{product.Brand ? '/ '+ product.Brand : ''}}
                        </ion-text>
                        <ion-text class="text-wrap">
                          {{product.Description}}
                        </ion-text>
                      </div>
                    </div>
                  </ion-item>
                </ion-list>
              </div>
            </div>
          </ion-item>
        </ion-list>
      </div>
      <ion-img
        src="./assets/icon/waiting.gif"
        style="width: 140px; margin: 20px auto"
      ></ion-img>
    </ion-col> -->
    <ion-col size="12" size-md="6" class="mx-auto px-1 py-3">
      <ion-text class="ion-text-center">
        <p class="text-large text-bold my-2">Your order is in progress...</p>
      </ion-text>
      <div *ngFor="let item of orderInfo.Items" class="mt-3">
        <div *ngIf="item.ItemStatus===itemStatus.Found || item.ItemStatus===itemStatus.NotFound">
          <ion-row>
            <ion-col class="d-flex column-gap">
              <ion-icon *ngIf="item.ItemStatus===itemStatus.Found" name="checkmark-circle" color="primary"
                class="text-large"></ion-icon>
              <ion-icon *ngIf="item.ItemStatus===itemStatus.NotFound" name="alert-circle" color="danger"
                class="text-large"></ion-icon>
              <div class="d-flex flex-column">
                <ion-text class="text-bold">
                  {{item.Title &&
                  item.Title.length> 0 ? item.Title : ''}}
                  {{item.Unit &&
                  item.Unit.length> 0 ? '/ ' + item.Unit : ''}}
                  {{item.Brand &&
                  item.Brand.length> 0 ? '/ ' + item.Brand : ''}}
                </ion-text>
                <ion-text *ngIf="item.ItemStatus===itemStatus.NotFound" class="mt-2">
                  Not Found
                </ion-text>
              </div>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="item.ItemStatus===itemStatus.NotFound && item.Products.length>0">
            <ion-col>
              <ion-text class="text-bold">
                <p class="my-1">New Suggestion(s):</p>
              </ion-text>
            </ion-col>
          </ion-row>
          <ion-row class="product-list">
            <ion-col *ngFor="let product of item.Products" size="4">
              <app-product [productInfo]="product" (addToBasket)="add(product)" (removeFromBasket)="remove(product)"
                (addItem)="inc(product)" (removeItem)="dec(product)"></app-product>
            </ion-col>
          </ion-row>
          <hr class="my-1" />
        </div>

        <ion-row *ngIf="item.ItemStatus===itemStatus.Draft" class="disabled">
          <ion-col class="d-flex ion-align-items-center column-gap">
            <span class="dot-spinner"></span>
            <ion-text class="text-bold text-wrap"> {{item.Title}} </ion-text>
          </ion-col>
        </ion-row>
        <ion-img *ngIf="item.ItemStatus===itemStatus.Draft" src="./assets/icon/waiting.gif" style="width: 100px; margin: 20px"></ion-img>
      </div>

    </ion-col>
  </ion-row>
</ion-content>

<ion-footer class="p-2 d-flex ion-justify-content-center ion-align-items-center">
  <ion-button (click)="goToVeiw('basket')" class="ion-no-margin" [disabled]="selectedProducts.length===0">
    <span class="text-bold">Next</span>
  </ion-button>
</ion-footer>