<app-page-header title="History"></app-page-header>

<ion-content [fullscreen]="true">
  <ion-row>
    <ion-col size="11" size-md="4" class="mx-auto px-1 py-3">
      <div class="pt-3 text-center">
        <ion-text class="text-large text-bold">Orders</ion-text>
      </div>
      <div *ngFor="let order of orders">
        <ion-card
          (click)="goToVeiw(order.OrderNumber)"
          color="light"
          class="p-3"         
        >
          <ion-card-header
            class="d-flex flex-row ion-justify-content-between ion-align-items-center p-0 pb-2"
          >
            <ion-text>Order# {{order.OrderNumber}}</ion-text>
            <ion-text class="text-bold">{{order.Paid}}$</ion-text>
          </ion-card-header>
          <ion-card-content
            class="d-flex flex-row ion-justify-content-between ion-align-items-center p-0"
          >
            <ion-text
              >{{order.Order_Date | date:'YYYY-MM-dd - HH:mm'}}</ion-text
            >
            <div class="d-flex ion-align-items-center column-gap">
              <ion-icon
                *ngIf="order.Status===orderStatus.Delivered"
                name="checkmark-circle"
                class="text-large"
              ></ion-icon>
              <ion-icon
                *ngIf="order.Status===orderStatus.InProgress || order.Status===orderStatus.Draft"
                name="ellipsis-horizontal-circle-outline"
                class="text-large"
              ></ion-icon>
              <ion-text class="text-bold">{{order.Status_Title}}</ion-text>
            </div>
          </ion-card-content>
        </ion-card>
      </div>

      <ion-row class="ion-padding">
        <ion-col size="12" class="text-center">
          <ion-button
            color="primary"
            fill="clear"
            class="text-large text-bold"
            (click)="setOpen(true)"
            >Let’s talk to business</ion-button
          >
        </ion-col>
        <ion-col size="12" class="text-center">
          <ion-button
            (click)="newOrder()"
            color="primary"
            fill="clear"
            >New Order
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-alert
        [isOpen]="isAlertOpen"
        message="We are sad that you want to leave us. Can you take 30 seconds and tell me your opinion?"
        [buttons]="alertButtons"
        (didDismiss)="setOpen(false)"
        mode="ios"
      ></ion-alert> </ion-col
  ></ion-row>
</ion-content>
