.product-list {
  flex-wrap: nowrap;
  overflow-x: auto !important;
}

ion-button {
  color: var(--ion-color-light);
}

.column-gap {
  column-gap: 7px;
}

hr {
  width: 95%;
  height: 2px;
  background-color: #B2B2B5;
}

.dot-spinner {
  width: 15px;
  height: 15px;
  border: 1px solid;
  border-radius: 50%;
  background: url("../../../../assets/icon/dot-spinner.gif");
  background-position: center;
  background-size: cover;
}

.disabled {
  cursor: default;
  opacity: 0.3;
  pointer-events: none;
}