.suggestionPageBox {
    ion-text {
        font-weight: 700;
        line-height: 17px;
        font-size: 22px;
    }
}

.footerBox{
    height: 70px;
    flex:1;
}

ion-button {
    width: 90% !important;
}