<app-page-header [isBack]="true" (cancelChange)="inprogressOrder()"></app-page-header>

<ion-content [fullscreen]="true">
  <ion-row>
    <ion-col size="11" size-md="8" class="mx-auto px-1 py-3">
      <div class="py-2 text-center">
        <ion-text class="text-large text-bold">Invoice</ion-text>
      </div>
      <div *ngFor="let product of selectedProducts">
        <ion-row *ngIf="product.Quantity!==null || product.Quantity!==0">
          <ion-col class="d-flex flex-column row-gap px-2">
            <div class="d-flex ion-justify-content-between">
              <ion-text class="text-bold">
                {{product.Title &&
                product.Title.length> 0 ? product.Title : ''}}
                {{product.Unit &&
                product.Unit.length> 0 ? '/ ' + product.Unit : ''}}
                {{product.Brand &&
                product.Brand.length> 0 ? '/ ' + product.Brand : ''}}
              </ion-text>
              <!-- <ion-text class="text-bold">Price</ion-text>
                <ion-text class="text-bold">Total</ion-text> -->
            </div>
            <div class="d-flex ion-justify-content-between ion-align-items-center">
              <div class="d-flex ion-align-items-center column-gap">
                <span *ngIf="product.Quantity<=1" class="action-btn m-2" (click)="onClick('remove',product)"><ion-icon
                    name="trash-outline" class="text-large"></ion-icon>
                </span>
                <span *ngIf="product.Quantity>1" class="action-btn m-2" (click)="onClick('dec',product)"><ion-icon
                    name="remove-outline" class="text-large"></ion-icon>
                </span>
                <ion-text color="primary" class="m-1">{{product.Quantity}}</ion-text>
                <span class="action-btn m-2" (click)="onClick('inc',product)"><ion-icon name="add-outline"
                    class="text-large"></ion-icon>
                </span>
              </div>
              <div class="d-flex ion-align-items-center column-gap">
                <ion-text class="text-bold m-2"> {{product.Price}}$ </ion-text>
                <ion-text class="text-bold m-2"> {{product.Price*product.Quantity}}$ </ion-text>
              </div>
            </div>
          </ion-col>
        </ion-row>
        <hr *ngIf="product.Quantity!==null || product.Quantity!==0" />
      </div>

      <!-- <ion-row>
    <ion-col
      class="d-flex ion-justify-content-between ion-align-items-center px-2"
    >
      <ion-text
        color="danger"
        class="text-bold"
        style="text-decoration-line: line-through"
      >
        necessary ingredients to prepare dolmeh for 4 people
      </ion-text>
      <ion-text color="danger" class="text-bold m-2"> 0.0$ </ion-text>
    </ion-col>
  </ion-row>
  <hr /> -->

      <ion-row>
        <ion-col size="12" class="d-flex ion-justify-content-end column-gap">
          <ion-text class="w-75 text-end"> Total: </ion-text>
          <ion-text class="w-25 text-end text-bold px-2">
            {{selectedProducts.length>0 ? orderInfo.TotalPrice : 0}}$
          </ion-text>
        </ion-col>
        <ion-col size="12" class="d-flex ion-justify-content-end column-gap">
          <ion-text class="w-75 text-end"> Shipping: </ion-text>
          <ion-text class="w-25 text-end text-bold px-2">
            {{selectedProducts.length>0 ? orderInfo.ShipmentPrice : 0}}$
          </ion-text>
        </ion-col>
      </ion-row>

      <ion-row class="my-4">
        <ion-col size="12">
          <ion-text class="text-bold">
            Delivery Date & Time:
          </ion-text>
        </ion-col>
        <ion-col size="12">
          <div class="scroll-list d-flex flex-row-reverse">
            <ion-button class="text-small" fill="{{true ? 'solid' : 'outline'}}">Sunday (April-06)</ion-button>
            <ion-button class="text-small" fill="outline">Monday (April-07)</ion-button>
            <ion-button class="text-small" fill="outline">Tuesday (April-08)</ion-button>
          </div>
        </ion-col>
        <ion-col size="12" class="mt-2">
          <ion-radio-group value="1">
            <div class="d-flex flex-column row-gap ion-align-items-end">
              <ion-radio slot="end" value="1" labelPlacement="start" color="dark" >08:00-10:00</ion-radio>
              <ion-radio [disabled]="true" slot="end" value="2" labelPlacement="start">10:00-12:00</ion-radio>
              <ion-radio slot="end" value="3" labelPlacement="start" color="dark">12:00-14:00</ion-radio>
            </div>
          </ion-radio-group>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12" class="m-auto p-2">
          <ion-textarea (ionBlur)="updateAddress(orderInfo.Address)" [(ngModel)]="orderInfo.Address" fill="none"
            placeholder="Deliver address"
            [ngStyle]="{ border: validationError && !orderInfo.Address ? '1px solid var(--ion-color-danger)' : '1px solid var(--ion-color-medium)' }"></ion-textarea>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <iframe *ngIf="PageData.PaymentURL" [src]="PageData.PaymentURL" title="PayPal Payment"></iframe>
          <!-- <ion-radio-group value="1" class="d-flex flex-column ion-align-items-start row-gap">
            <div class="d-flex">
              <ion-radio slot="start" value="1" labelPlacement="end" color="dark"></ion-radio>
              <ion-img src="./assets/icon/paypal.png" class="mx-3"></ion-img>
            </div>

            <ion-radio slot="start" value="2" labelPlacement="end" color="dark">Cash payment on the spot</ion-radio>
            <ion-radio slot="start" value="3" labelPlacement="end" color="dark">Card-to-card transfer</ion-radio>
          </ion-radio-group> -->
        </ion-col>
      </ion-row>
      <ion-alert class="basket-alert" [isOpen]="isAlertOpen" header="Warning" subHeader="Check these out:"
        message="- Deliver Address" [buttons]="alertButtons" (didDismiss)="setOpen(false)" mode="ios"></ion-alert>
    </ion-col>
  </ion-row>
</ion-content>

<app-page-footer title="Order#: {{orderId}}" [totalOrder]="selectedProducts.length>0 ? selectedProducts.length : 0"
  [totalCount]="selectedProducts.length>0 ? orderInfo.Paid : 0" [isSubmit]="false"
  [submitDisabled]="selectedProducts.length<=0" (submitChange)="goToVeiw()"></app-page-footer>