.timerBoxGreen {
    width: 100px;
    height: 30px;
    background: #34C759;
    border-radius: 10px;
    display: flex;
}

.timerBoxRed {
    width: 100px;
    height: 30px;
    background: #FF2D55;
    border-radius: 10px;
    display: flex;
}

.timer{
    color: #fff;
}