@font-face {
    font-family:  sanFrancisco;
    font-style: normal;
    font-weight: 10;
    font-display: swap;
    src: url("SFUIDisplay-Thin.otf") format("otf"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
    font-family:  sanFrancisco;
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url("SFUIDisplay-Ultralight.otf") format("otf"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
    font-family:  sanFrancisco;
    font-style: normal;
    font-weight: 300;
    src: url("SFUIDisplay-Light.ttf") format("ttf"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
    font-family:  sanFrancisco;
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("SFUIDisplay-Medium.otf") format("otf"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
    font-family:  sanFrancisco;
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("SFUIDisplay-Semibold.otf") format("otf"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
    font-family:  sanFrancisco;
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url("SFUIDisplay-Black.otf") format("otf"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
    font-family:  sanFrancisco;
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url("SFUIDisplay-Bold.ttf") format("ttf"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
    font-family:  sanFrancisco;
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url("SFUIDisplay-Regular.otf") format("otf"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
